body {
    font-family: Arial;
    text-align: center;
    margin: 40px;
}

textarea {
    width: 80%;
    height: 150px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
}

#output {
    white-space: pre-wrap;
    margin-top: 20px;
    font-weight: bold;
}